/*Home section styling*/

/*
.Home {
    background-color: #000;
    max-width: 100%;
}
*/

@media screen and (max-width: 960px) {
    .home {
        display: none;
    }
    .home-small {
        display: block !important;
    }
    .cover-photo {
        display: none;
    }
}
.home-small {
    display: none;
    width: 100%;
    height: auto;
}
.home-small img {
    width: 100%;
    height: auto;
}
.logo img{
    display: block;
    position: absolute;
    margin: auto;
    
    top: 31%;
    left: 34%;
    width: 30%;
    height: auto;
}
.container {
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.container-aboutus {
    padding-left: 60px;
    padding-right: 60px;
}
/*The cover photo full width*/

.cover-photo {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
.container h2 {
/*    overflow: auto;*/
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.containerh2 span {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.container h2 img {
    max-width: 5%;
}